
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #2b2d42;
  background-color: #edf2f4;
}

p {
  text-align: justify;
}

#row {
  margin: 20px auto;
  max-width: 900px;
  padding: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.0;
  margin-bottom: 20px;
  position: relative;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
}

h1 a {
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
